name: SonarCloud

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  sonarcloud:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run tests with coverage
        run: npm test -- --coverage

      - name: Debug coverage + properties
        run: |
          pwd
          ls -la
          echo "----- coverage folder -----"
          ls -la coverage || true
          echo "----- lcov file -----"
          ls -la coverage/lcov.info || true
          echo "----- sonar-project.properties -----"
          cat sonar-project.properties || true

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v3
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=soen-390-debugging-demons
            -Dsonar.organization=soen-390-debugging-demons
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@e28ff129e5465c2c0dcc6f003fc735cb6ae0c673
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: RobertMounsef/soen390Project
          fail_ci_if_error: true

            -Dsonar.sources=src
            -Dsonar.tests=src
            -Dsonar.test.inclusions=**/*.test.js,**/*.spec.js,**/__tests__/**
            -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info
