name: SonarCloud

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run tests with coverage
        run: npm test -- --coverage

      - name: Debug sonar properties
        run: |
          pwd
          ls -la
          echo "----- sonar-project.properties -----"
          cat sonar-project.properties || true

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v3
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=soen-390-debugging-demons
            -Dsonar.organization=soen-390-debugging-demons
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@13ce0d40742516417537b98d259e830e0b675662
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: RobertMounsef/soen390Project
          fail_ci_if_error: true

